<!DOCTYPE html>
<html lang = "en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home-Anime!</title>
    <link rel="stylesheet" href="HomeImages.css"> 
  </head>
<!--<body>-->
    <!--image slider start-->
<div class="slider">
  <div class="slides">
 <!--radio slider start-->
    <input type="radio" name="radio-btn" id="radio1">
    <input type="radio" name="radio-btn" id="radio2">
    <input type="radio" name="radio-btn" id="radio3">
    <input type="radio" name="radio-btn" id="radio4">
    <input type="radio" name="radio-btn" id="radio5">
  
  <!--slide images start-->
    <div class = "slide first">
        <img src ="images.nav/image1.jpg" alt ="">
    </div>
    <div class = "slide">
        <img src = "images.nav/image2.jpg" alt ="">
    </div>
    <div class = "slide">
        <img src = "images.nav/image3.jpg" alt ="">
    </div>
    <div class = "slide">
        <img src = "images.nav/image4.jpg" alt ="">
    </div>
    <div class = "slide">
        <img src = "images.nav/image5.jpg" alt ="">
    </div>
    <!--automatic nav start-->
    <div class="navigation-auto">
      <div class="auto-btn1"></div>
      <div class="auto-btn2"></div>
      <div class="auto-btn3"></div>
      <div class="auto-btn4"></div>
      <div class="auto-btn5"></div>
    </div>
    <!--manual navigation start-->
    <div class ="navigation-manual">
        <label for="radio1" class = "manual-btn"></label>
        <label for="radio2" class = "manual-btn"></label>
        <label for="radio3" class = "manual-btn"></label>
        <label for="radio4" class = "manual-btn"></label>
        <label for="radio5" class = "manual-btn"></label>
    </div>
  </div>
</div>
<script type="text/javascript">
  var counter = 1;
  setInterval(function(){
    document.getElementById('radio' + counter).checked = true;
    counter ++;
    if(counter > 5){
      counter = 1;
    }
  }, 5000);
</script>
<body>
  <h2 class="container"></h2>
<!--<div class="container">-->
  <h2>Anime Discovery</h2><br>
  <input value="" id="search" placeholder="">  
  <button id = "results" onclick= "query()"><a href="Results.html">get Results</button></a>
  <script>
    function query(){
      
    }


  </script>
  <!--<form action="" class="Search-bar">-->
    <!--<input type="text" placeholder=""><a href="Results.html">Click</a>
  </form>-->
</div>
</body>
</html>